.modal-container {
  background-color: rgba(137, 137, 137, 0.6);
  cursor: pointer;
  position: fixed;
  inset: 0;
  z-index: 3;
  @include center;

  .modal {
    cursor: auto;
    position: relative;
    background-color: white;
    max-height: 70vh;
    border-radius: 12px;
    max-width: 370px;
    margin: auto;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
      max-width: 670px;
    }
    // bg-white overflow-auto max-h-[90vh] rounded-xl max-w-sm lg:max-w-[670px] m-auto absolute w-full z-20 space-y-[21px] p-6 flex flex-col
  }

  .modal_close_button {
    background-color: transparent;
    border-radius: 100%;
    border: none;
    color: white;
    height: 36px;
    width: 36px;
    font-size: 18px;
    line-height: 36px;
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: -50px;

    &:focus {
      outline: none;
      border: 1px solid white;
    }
  }
}

.image-modal {
  img {
    border-radius: 12px 12px 0 0;
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
  }
  .content {
    padding: 20px 32px;

    p {
      font-weight: 600;
      color: $primary;
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 4px;
    }

    span {
      color: #aeb0b5;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
