.modal-container {
  background-color: rgba(137, 137, 137, 0.6);
  cursor: pointer;
  position: fixed;
  inset: 0;
  z-index: 3;
  @include center;

  .modal {
    cursor: auto;
    position: relative;
    background-color: white;
    max-height: 70vh;
    border-radius: 12px;
    max-width: 90%; // responsive for very small screens
    margin: auto;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      max-width: 670px;
    }
  }

  .modal_close_button {
    background-color: transparent;
    border-radius: 100%;
    border: none;
    color: white;
    height: 36px;
    width: 36px;
    font-size: 18px;
    line-height: 36px;
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: -50px;
    display: hidden;

    &:focus {
      outline: none;
      border: 1px solid white;
    }

    @media (min-width: 768px) {
      display: block;
    }
  }
}

.image-modal {
  img {
    border-radius: 12px 12px 0 0;
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
  }
  .content {
    padding: 20px 32px;

    p {
      font-weight: 600;
      color: $primary;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 4px;
    }

    span {
      color: #aeb0b5;
      font-weight: 500;
      font-size: 14px;
    }
  }

  @include responsive(mobile) {
    .content {
      padding: 10px 16px;

      p {
        font-size: 14px;
        line-height: 1;
        margin-bottom: 2px;
      }
      span {
        font-size: 10px;
      }
    }
  }
}
