.modal-container {
  background-color: rgb(137, 137, 137);
  cursor: pointer;
  position: fixed;
  inset: 0;
  z-index: 3;
  @include center;

  .modal {
    position: absolute;
    background-color: white;
    max-height: 60vh;
    border-radius: 12px;
    max-width: 370px;
    margin: auto;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
      max-width: 670px;
    }
    // bg-white overflow-auto max-h-[90vh] rounded-xl max-w-sm lg:max-w-[670px] m-auto absolute w-full z-20 space-y-[21px] p-6 flex flex-col
  }

  .modal_close_button {
    position: absolute;
    top: 20px;
    right: 50px;
  }
}
